<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
</head>
<body>
    {% if user.is_authenticated %}
        <div class="navbar">
        <div class="navbar-items">
            <a href="/money/index"> Home </a>
        </div>
        <div class="navbar-items">
            <a href="/money/addtransaction"> Add Transactions </a>
        </div>
        <div class="navbar-items">
            <a href="/money/transactions"> View Transactions </a>
        </div>
        <div class="navbar-items" style="position:absolute; margin-top: 10px; right: 30px">
            <form action="/accounts/logout">
                <button type="submit"> Logout </button>
            </form>
        </div>

    </div>
    <div class="main-content">
        {% block 'body' %}
        {% endblock %}
    </div>
    {% else %}
        <div> You are not logged in</div>
        <form action="/accounts/login">
            <button type="submit"> Login </button>
        </form>
    {% endif%}
</body>
</html>